

<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link" id="admin-index" href="@Url.Action("Index")">Start</a></li>
    <li class="nav-item"><a class="nav-link" id="admin-logging" href="@Url.Action("Logging")">Logging</a></li>
    <li class="nav-item"><a class="nav-link" id="admin-manage-users" href="@Url.Action("ManageUsers")">Manage Users</a></li>
    <li class="nav-item"><a class="nav-link" id="admin-manage-projects" href="@Url.Action("ManageProjects")">Manage Projects</a></li>
    <li class="nav-item"><a class="nav-link" id="admin-manage-roles" href="@Url.Action("ManageRoles")">Manage Roles</a></li>
</ul>

