@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IcddWebApp.PageModels.Container.LinksetPageModel
<!-- Modal Directed Binary-->
<div class="modal" id="modal-directedbinary-@Model.Linkset.Guid" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add directed-binary link to container</h5>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body idReset">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">Left</h5>
                            </div>
                            <div class="card-body">
                                <form id="leftFormDirBin-@Model.Linkset.Guid">
                                    <div class="input-group">
                                        <span class="input-group-text required-asterisk" style="width:150px;">Document</span>
                                        <select id="leftDocumentDirBin-@Model.Linkset.Guid" class="form-select" required>
                                            @foreach (var doc in Model.Container.Documents)
                                            {
                                                <option value="@doc.Guid">@doc.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-text required-asterisk" style="width:150px;">Identifier Type</span>
                                        <select id="leftIdTypeDirBin-@Model.Linkset.Guid" class="form-select" onchange="toggleCheckLink(this.value, '@Model.Linkset.Guid', 'left', 'DirBin')" required>
                                            <option value="1" selected>StringBasedIdentifier</option>
                                            <option value="0">No Identifier</option>
                                            <option value="2">URIBasedIdentifier</option>
                                            <option value="3">QueryBasedIdentifier</option>
                                        </select>
                                    </div>
                                    <div>
                                        <div id="leftStringBasedDirBin-@Model.Linkset.Guid" style="display:block;">
                                            <div class="input-group">
                                                <span class="input-group-text required-asterisk" style="width:150px;">Identifier</span>
                                                <input type="text" id="leftIdentifierDirBin-@Model.Linkset.Guid" class="form-control" />
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-text required-asterisk" style="width:150px;">Identifier Field</span>
                                                <input type="text" id="leftIdentifierFieldDirBin-@Model.Linkset.Guid" class="form-control" />
                                            </div>
                                        </div>
                                        <div id="leftUriBasedDirBin-@Model.Linkset.Guid" style="display:none;">
                                            <div class="input-group">
                                                <span class="input-group-text required-asterisk" style="width:150px;">URI</span>
                                                <input type="url" id="leftUriDirBin-@Model.Linkset.Guid" class="form-control" />
                                            </div>
                                        </div>
                                        <div id="leftQueryBasedDirBin-@Model.Linkset.Guid" style="display:none;">
                                            <div class="input-group">
                                                <span class="input-group-text required-asterisk" style="width:150px;">Query Expression</span>
                                                <input type="text" id="leftQueryExpressionDirBin-@Model.Linkset.Guid" class="form-control" />
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-text required-asterisk" style="width:150px;">Query Language</span>
                                                <input type="text" id="leftQueryLanguageDirBin-@Model.Linkset.Guid" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <br />
                                <button type="button" class="btn btn-sm btn-outline-light bg-rub-blue rounded-0 float-end" onclick="importIFCGuid('@Model.Linkset.Guid', 'left', 'DirBin', false)">Import from selection</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">Right</h5>
                            </div>
                            <div class="card-body">
                                <form id="rightFormDirBin-@Model.Linkset.Guid">
                                    <div class="input-group">
                                        <span class="input-group-text required-asterisk" style="width:150px;">Document</span>
                                        <select id="rightDocumentDirBin-@Model.Linkset.Guid" class="form-select">
                                            @foreach (var doc in Model.Container.Documents)
                                            {
                                                <option value="@doc.Guid">@doc.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-text required-asterisk" style="width:150px;">Identifier Type</span>
                                        <select id="rightIdTypeDirBin-@Model.Linkset.Guid" class="form-select" onchange="toggleCheckLink(this.value, '@Model.Linkset.Guid', 'right', 'DirBin')">
                                            <option value="1" selected>StringBasedIdentifier</option>
                                            <option value="0">No Identifier</option>
                                            <option value="2">URIBasedIdentifier</option>
                                            <option value="3">QueryBasedIdentifier</option>
                                        </select>
                                    </div>

                                    <div id="rightStringBasedDirBin-@Model.Linkset.Guid" style="display:block;">
                                        <div class="input-group">
                                            <span class="input-group-text required-asterisk" style="width:150px;">Identifier</span>
                                            <input type="text" id="rightIdentifierDirBin-@Model.Linkset.Guid" class="form-control" />
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-text required-asterisk" style="width:150px;">Identifier Field</span>
                                            <input type="text" id="rightIdentifierFieldDirBin-@Model.Linkset.Guid" class="form-control" />
                                        </div>
                                    </div>
                                    <div id="rightUriBasedDirBin-@Model.Linkset.Guid" style="display:none;">
                                        <div class="input-group">
                                            <span class="input-group-text required-asterisk" style="width:150px;">URI</span>
                                            <input type="url" id="rightUriDirBin-@Model.Linkset.Guid" class="form-control" />
                                        </div>
                                    </div>
                                    <div id="rightQueryBasedDirBin-@Model.Linkset.Guid" style="display:none;">
                                        <div class="input-group">
                                            <span class="input-group-text required-asterisk" style="width:150px;">Query Expression</span>
                                            <input type="text" id="rightQueryExpressionDirBin-@Model.Linkset.Guid" class="form-control" />
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-text required-asterisk" style="width:150px;">Query Language</span>
                                            <input type="text" id="rightQueryLanguageDirBin-@Model.Linkset.Guid" class="form-control" />
                                        </div>
                                    </div>
                                </form>
                                <br />
                                <button type="button" class="btn btn-sm btn-outline-light bg-rub-blue rounded-0 float-end" onclick="importIFCGuid('@Model.Linkset.Guid', 'right', 'DirBin', false)">Import from selection</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">Link Specialization</h5>
                            </div>
                            <div class="card-body idReset">
                                <div class="input-group">
                                    <span class="input-group-text required-asterisk" style="width:150px;">Specialization</span>
                                    <select id="specDirBin-@Model.Linkset.Guid" class="form-select" required>
                                        <option value="isidenticalto" selected>IsIdenticalTo</option>
                                        <option value="nospec">None</option>
                                        <option value="conflictswith">ConflictsWith</option>
                                        <option value="isalternativeto">IsAlternativeTo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="required-asterisk-before">Required Field</div>
                <button type="button" class="btn btn-secondary rounded-0" data-bs-dismiss="modal">Close</button>
                <button name="btnPostDirectedBinaryLink" type="submit" onclick="PostDirectedBinaryLink('@Model.Project.Id', '@Model.ContainerMetadata.Id', '@Model.ContainerMetadata.Version', '@Model.Linkset.Guid')" class="btn btn-rub-blue rounded-0">Add</button>
            </div>
        </div>
    </div>
</div>
